@media(max-width: 993px) {

        .navbar-collapse {
            background: rgba(0, 172, 217, 1);
            padding-left: 1rem;
        }

        .image-box {
            display: none;
        }

        .image-box-logo {
            display: none;
        }
}

@media(max-width: 768px) {

        /*hero sction*/

        #hero::after {
            height: 6%;
        }

        .main-hero-content h1 p {
            text-align: center;
        }

        .hero-buttons {
            text-align: center;
        }

        .image-box {
            display: none;
        }

        .image-box-logo {
            display: none;
        }

        /*about */

        #about::after {
            content: '';
            position: absolute;
            background-color: #f8f1f1;
            width: 100%;
            height: 1%;
            transform: skewY(-2deg);
            transform-origin: bottom right;
            bottom: -3rem;
            right: 0;
            left: 0;
        }

        /*destaque*/

        #destaque h3{
            padding-bottom: 2rem;
            padding-top: 2rem;
        }
        .img-fluid {
            max-width: 100%;
            height: auto;
            padding-bottom: 2rem;
        }

        /*federados*/

        #federados .box-table {
            width: calc(80%/1);
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
        }

        /*treinos */

        .hover-treinos {
            margin-bottom: 2rem;
        }

        .cardTreino-1-description, .cardTreino-2-description, .cardTreino-3-description {
            top: 29%; 
        }

        #treinos::before {
            content: '';
            position: absolute;
            background-color: #ffffff;
            width: 100%;
            height: 0%;
            transform: skewY(-1deg);
            transform-origin: top right;
            top: 1rem;
            right: 0;
            left: 0;
        }

        #treinos p {
            margin-top: 0;
            margin-bottom: 3rem;
        }

        /*contact sction*/
        #contact .adress {
            margin-top: 2rem;
        }

        #contact {
            background-color: #f0f1f3;
            /* padding-bottom: 5rem; */
            /* padding-top: 0rem; */
            position: relative;
        }

        /*treinos sction*/


        /*federados*/

        #federados {
            padding-bottom: 3rem;
        }

        #federados::before {
            content: '';
            position: absolute;
            background-color: f8f1f1;
            width: 100%;
            height: 4%;
            transform: skewY(-2deg);
            transform-origin: top right;
            top: -2rem;
            right: 0;
            left: 0;
        }

        #federados .box-table:nth-child(1) .table-header {
            background-size: 276%;
        }

        #federados .box-table:nth-child(2) .table-header {
            background-size: 276%;
        }

        /*protocolos*/

        .maincard {
            margin-left: 21%;
            margin-bottom: 3rem;
            width: 60%;
        }

        #protocolos::before {
            height: 6%;
            top: -4rem;
        }

        #protocolos {
            height: auto;
            padding-top: 2rem;
            padding-bottom: 5rem;
            padding-left: auto;
    }   

        #protocolos .box-table {
            width: calc(80%/1);
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
        }


        /*contact sction*/
        #footer-log {
            margin-top: -1rem;
        }

        #footer::before {
            height: 15%;
            top: -2rem;
        }

        #footer .footer-logo img {
            margin-left: 11rem;
        }
}

@media(max-width: 420px) {
   
    body { 
        margin: 0;
        padding: 0;
    }

    h1 {
        line-height: 4rem;
        font-size: 3rem;
    }

    p {
        text-align: center;
        /* padding-right: 2rem;
        padding-left: 2rem; */
    }

    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.container-lg, .navbar-expand-lg>.container-md, .navbar-expand-lg>.container-sm, .navbar-expand-lg>.container-xl {
        padding-right: 17%;
         padding-left: 0; 
    }

    .img-logo {
        margin-left: 0rem;
    }
    
    .main-hero-content h1 {
        padding-right: 3rem;
    }

    .main-hero-content p {
        font-size: 1.1rem;     
    }

    .hero-buttons{
        padding-right: 1rem;
    }

    #hero::after {
        height: 5%;
    }


    /*about*/

    #about .section-title::after {
        width: 40%;
        top: 70px;
    }

    #about h4 {
        padding-top: 1rem;
        align-content: center;
        text-align: center;
    }

    /*destaque*/
        
    #destaque {
        background-color: #f8f1f1;
        padding-bottom: 0rem;
        margin-top: 0rem;
    }

    #destaque .section-title::after {
        width: 40%;
        top: 75px;
    }

     /*treinos*/
    
     .hover{
        margin-bottom: 2rem;
        padding-bottom: 80%;
    }

    #treinos::before {
        top: -2.5rem;
    }
   
    h2.section-title-heading {
        font-size: 1.7rem;
    }

    .section-title::after {
        top: 4rem;
    }

    /*federados*/

    #federados {
        padding-bottom: 3rem;
    }

    #federados::before {
        content: '';
        position: absolute;
        background-color: #f8f1f1;
        width: 100%;
        height: 2%;
        transform: skewY(-1deg);
        transform-origin: top right;
        top: -1rem;
        right: 0;
        left: 0;
    }

    .hover-federados {
        padding-bottom: 83%;
    }

    .federadosMasculinos-description {
        left: 0; 
        top: 4rem;
    }
    .federadosFeminios-description {
        top: 1rem;
        left: 0rem;
    }

    /*contacto*/

    #contact::before {
        height: 6%;
    }
    #contact .section-title::after {
        width: 40%;
        top: 109px;
    }

    /*Footer*/

    #footer::before {
        height: 8%;
        top: -1rem;
    }

    #footer .footer-logo img {
        margin-top: -6rem;
        width: 28%;
        margin-left: 7rem;
    }

}